<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
</head>

<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nulla commodi iusto in cum perspiciatis
    cupiditate earum sequi saepe inventore, eum sunt assumenda necessitatibus explicabo ut maiores. Excepturi repellat
    odit pariatur ab eos non?
</body>

</html>