<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flash messaging</title>
    
</head>

<body>
    {% with messages=get_flashed_messages(with_categories=True)  %}
        {% if messages %}
            {% for category, message in messages %}
                <li class="{{category}}">{{messages}}</li>
                
            {% endfor %}
        {% endif %}
    {% endwith %}

    Hey you just logged in!
    <a href="/logout">logout</a>
</body>


</html>