<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>
<body>
    <form action="/" method="post">
        <input name="name" type="text" placeholder="Enter your name: ">
        <input name="father name" type="text" placeholder="Enter your Father name: ">
        <input name="email" type="email" placeholder="Enter your Email: ">
        <input type="submit" value="submit">
    </form>
    
</body>
</html>