<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class X - Akbar Public School</title>
</head>
<body>
    <ul>
        {# This is a comment #}
        {% for key in marks.keys() %}
            <li>The marks of {{key}} is {{marks.get(key)}}</li>
            {% if marks.get(key) > 70 %}
                <span>Good Chef</span>
            {% endif %}

        {% endfor %}
    </ul>
</body>
</html>